.container {
  display: flex;
  flex-direction: column;
}
.banner-container {
  display: flex;
}
.background {
  margin-top: 10rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.bannerHeading {
  margin-top: 8rem;
  margin-left: 13rem;
  font-size: 3rem;
}

.center {
  text-align: center;
}

.margin-top {
  margin-top: 10rem;
}

.margin-bottom {
  margin-bottom: 4rem;
}

.category-heading {
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  cursor: pointer;
}

.card {
  display: flex;
  text-align: center;
  border: 1px solid rgb(211, 211, 211);
  width: 143px;
  height: 143px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.category-name {
  margin-top: 2rem;
  margin-bottom: 20rem;
}
