.container {
  display: flex;
  flex-direction: column;
}
.banner-container {
  display: flex;
}
.background {
  margin-top: 10rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.bannerHeading {
  margin-top: 8rem;
  margin-left: 13rem;
  font-size: 3rem;
}

.browse-product-btn {
}
