.NavContainer {
  display: flex;
  justify-content: space-around;
  background-color: black;
  /* background-color: #926a68; */
  height: 3rem;
}

.search {
  background-color: black;
  /* color: white; */
  /* border: 0.1px white solid; */
  border: none;
  font-size: larger;
}

.logo {
  font-weight: bold;
}

.link {
  margin-top: 0.7rem;
  color: white;
  text-decoration: none;
}

.left-shift {
  margin-left: -10rem;
}

.right-shift {
  margin-right: -25rem;
}

.right-shift-1 {
  margin-right: -10rem;
}

.unhide {
  display: none;
}

.ham-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: -9rem;
}

@media only screen and (max-width: 800px) {
  .hide {
    display: none;
  }
  .unhide {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .hide {
    display: none;
  }
  .unhide {
    display: block;
  }
  .logo {
    margin-right: -8rem;
  }
}

@media only screen and (max-width: 350px) {
  .hide {
    display: none;
  }
  .unhide {
    display: block;
  }
  .logo {
    margin-right: -12rem;
  }
}
